body {
    background-color: rgb(253, 214, 185);
    background-attachment: fixed;
}

p{
    margin-left: 15px;
}

hr {
    position: absolute;
    z-index: -1;
    top: 32.5px;
    width: 98%;
    margin-left: 15px;
    color: gray;
}

.navBar {
    border-radius: 30px;
    border: 3px solid black;
    z-index: 1;
    box-shadow: 6px 6px 6px rgb(140, 156, 185);
}

.title {
    background-image: linear-gradient(to right, pink, lightblue);
    padding: 50px;
    font-size: 40px;
    transform: translateY(-40);
    transition: transform 1s ease;
}

.nav {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(to bottom, gray, black);
    top: 0;
    transform: translateY(0px) !important;
    width: 100%;
    height: 45px;
    justify-content: center;
    box-shadow:inset 0px -5px 20px black;
}

.dropDown {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 40px;
    top: 45px;
    background-color: black;
}

.nav > div {
    margin-left: 40px;
    margin-top: 5px;
    width: 100px;
    height: 25px;
    justify-content: center;
    text-align: center;

    border: 2px solid;
    background-color: lightblue;
    color: white;
    box-shadow: 2px 2px 2px wheat;
    
}

.nav > div:hover {
    background-color: rgb(94, 94, 220);
}

.nav >div:active {
    background-color: rgb(69, 94, 157);
}

.dropDown {
    align-items: center;
    justify-content: center;
}

.dropDown > div {
    margin-top: -10px;
    color: white;
}

.screen2, .footer {
    background-color: white;
    box-shadow: 4px 4px 4px gray;
    border: 3px solid black;
    font-size: 20px;
    text-align: justify;
}

.lee > div {
    display: none;
    margin-left: 60px;
    border: 2px solid;
    justify-content: center;
    width: 80px;
    background-color: rgb(80, 80, 204);
    color: white;
    box-shadow: 2px 2px 2px wheat;
}

.lee > div:hover {
    background-color: rgb(118, 118, 176);
}

.lee > div:active {
    background-color: rgb(63, 63, 94);
}

.jogaila > div {
    width: 80px;
    justify-content: center;
    display: none;
    margin-left: 60px;
    border: 2px solid;
    background-color: plum;
    color: white;
    box-shadow: 2px 2px 2px wheat;
}

.jogaila > div:hover {
    background-color: purple;
}

.jogaila > div:active {
    background-color: rebeccapurple;
}

#pink_button {
    background-color: pink;
}

#pink_button:hover {
    background-color: palevioletred;
}

#pink_button:active {
    background-color: purple;
}

.navBar:hover .title {
    transform: translateY(40px);
}

.navBar.active .title {
    transform: translateY(80px);
}
