/*=== Phone Mode ===*/

@media (max-width: 800px){

    .mainBar { 
        grid-template-columns: 1fr;
        grid-auto-rows: 400px;
        margin-top: 200px;
        
    }

    .nav > div {
        width: 60px;
        height: 20px;
    }

    .title {
        font-size: 20px;
    }

    .navBar {
        font-size: 10px;
    }

    .lee > div , .jogaila > div {
        width: 60px;
        justify-content: center;
    }


    .screen2 {
        font-size: 20px;
    }

    iframe {
    width: 95%;
}

}

/*=== Laptop/Tablet Mode===*/

@media (min-width: 800px){

    .mainBar { 
        grid-template-columns: 2fr 3fr;
        grid-auto-rows: 400px;
        margin-top: 160px;
    }
    
    .screen2 {
        font-size: 20px;
    }

    
}

