@media (max-width: 800px){

    .mainBar { 
        grid-template-columns: 1fr;
        grid-auto-rows: 400px;
        margin-top: 260px;
        
    }

    .container, .navBar {
        width: 80%;
        margin: 0 auto;
    }

    .navBar {
        width: 78%;
    }

    .screen2 {
        font-size: 20px;
    }

    iframe {
    width: 95%;
}
}

@media (min-width: 800px){

    .mainBar { 
        grid-template-columns: 2fr 3fr;
        grid-auto-rows: 400px;
        margin-top: 160px;
    }
    
    .container, .navBar {
        width: 80%;
        margin: 0 auto;
    }
    
    .navBar {
        width: 79%;
    }
    
    .screen2 {
        font-size: 20px;
    }

    
}

