* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none; height:100%; width: 100%; border-radius: 20px; }
img {vertical-align: middle; object-fit: fill;}

.mainBar > div img {
    object-fit: fill;
    height: 100%;
    border-radius: 20px;
}

.mainBar > div {
    height: 400px;
}

.mySlides img {
    height: 100%;
    width: 100%;
    object-fit:fill;
    
}

/* Slideshow container */
.slideshow-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  filter: drop-shadow(6px 6px 4px gray);
  border: 3px solid black;
  border-radius: 30px;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1.2s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}